@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding:0%;
    min-height: 100%;
}
html{
    height:100%;
}
.about_container{
    font-size: 1.4rem;
    font-weight: 500;
}
.header_container{
    background-image: url(portfolio-simp-2\ \(5\).png);
    background-size: contain;
    box-sizing: border-box;
    display: block;
    text-align: center;
}
.header_container h1{
    font-style: italic;
    font-weight: 500;
    min-width: 10rem;
    max-width: 12rem;
    padding-top: 2.5%;
    margin-top: 0rem;
    margin-inline: auto;
    margin-bottom: 0rem;
    border-bottom: 2.5px solid rgb(3, 60, 3);
}
.header_container p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-bottom:1%;
    margin-top: 1.9%;
    margin-bottom: 0%;
    font-weight: 400;
    border-bottom: 2.5px solid rgb(50, 96, 50);
}
.nav_container{
    font-weight: 500;
    background-color: rgba(12, 123, 86, 0.887);
    text-align: center;
    border-bottom: 2.5px solid rgb(50, 96, 50);
}
.nav_bts{
    padding-inline: 0;
    color:azure;
    margin-top: 0%;
    padding-top:1%;
}
.nav_bts li{
    display: inline;
    padding-left: 8%;
    padding-right: 8%;
}
.about_container{
    padding: 0 2%;
}
#sample1{
/*     
    box-sizing: border-box; */
    margin-left: 15px;
    position:relative;
    float: right;
    width:10rem;
    border-radius: 5px;
    box-shadow: 10em rgb(67, 9, 9);
    padding-inline: auto;
    transition: transform 250ms ease-in-out;
}
#sample1.sample_text1{
    display: inline;
}
#sample1:hover{
    transform:scale(98%);
}
.nav_container_footer{
    width:100%;
    height: 100%;
    color:azure;
    background-color: rgba(12, 123, 86, 0.887);
    display: flex;
    justify-content:space-between;
    overflow:auto;
}
.site_info{
    margin-left:2%;
    justify-content: center;
    text-align: center;
    max-width:15rem;
    max-height:min-content;
}
.site_info #p2{
    opacity: 89% ;
}
.ref_links{
    min-width: 12rem;
    max-width: 15rem;
}
.ref_links p{
    padding: 0 0% 0 0;
}